
.App {
  text-align: center;
  margin: 0, auto;
  background-image: url(../public/Images/marble_green.jpeg);
  background-size: 100% 100%;
  padding: 90px;
  height: 100vh; 
}

.Banner img {
  width: 50%;
  margin-top: -95px;
}

h1 {
  margin-top: 10px;
  color: green;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.table-container {
  width: 50%;
  /* height: calc(100vh - 180px); Adjust height to match FormComponent */
  height: 490px;
  overflow-y: auto;
  border: 1px solid black;
}

.Table {
  width: 100%;
  border-collapse: collapse;
  /* height: 100%; */

}

.Table th,
.Table td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

.Table tr:hover {
  border: 3px solid yellow;
}

.upvote {
  color: green;
  cursor: pointer;
}

.downvote {
  color: red;
  cursor: pointer;
}

.Form {
  width: 45%;
  border: 1px black solid;
  background-color: #d1e7dd;
  /* border-radius: 10px; */
  height: 100%;
  padding: 20px 15px 0 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields label {
  margin-bottom: 10px;
}

/* .inputGroup{
  border: solid 1px black;
} */

.form-fields input,
.form-fields textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

/* button[disabled] {
  color: white;
  border: solid 5px red;
} */

input[disabled],
textarea[disabled] {
  background-color: rgba(255, 255, 255, 0.822);
}

input[enabled],
textarea[enabled] {
  background-color: rgb(241, 146, 146);
}

.upvote.voted {
  color: green;
}

.downvote.voted {
  color: red;
}

.upvote.voted,
.upvote:disabled {
  color: green;
}

.downvote.voted,
.downvote:disabled {
  color: red;
}

.upvoted {
  background-color: lightgreen;
}

.downvoted {
  background-color: lightcoral;
}

.upvote.voted,
.upvote:disabled {
  color: green;
}

.downvote.voted,
.downvote:disabled {
  color: red;
}
